*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.navlist{
    display: flex;
    gap: 50px;
    height: 15vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-left: 530px;
}

.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: relative;
}

.navlist li a::after, .navlist .active::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 1.6px;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s;
}
.navlist li a:hover::after, .navlist .active::after{
    transform: scaleX(1);
    transform-origin: bottom left;
} 

.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.left-container{
    background: #262525;
    width: 70%;
    padding-left: 15px;
}

.right-container{
    background: linear-gradient(-45deg, #3877ff, #262525 70%);
    width: 30%;
}

.icon .fa-brands{
    color: #fff;
    font-size: 20px;
}

.icon .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon{
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
    align-items: center;
}

.content{
    margin-left: 25px;
}

.content h2{
    font-size: 20px;
    color: #fff;
}

.content h2 span{
    color: #5db9ee;
}
.content h1{
    font-size: 50px;
    color: #5db9ee;
}

.content p {
    color: #fff;
    font-size: 15px;
    max-width: 400px;
    margin: 10px 0 20px 5px;
    line-height: 20px;   
}

.button-container button{
    border: 2px solid #5db9ee;
    border-radius: 3px;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.8s ease;
}

button:nth-child(1){
    background: #5db9ee;
}

button:nth-child(2){
    background: transparent;
    color: #5db9ee;
    margin-left: 25px;
}

button:nth-child(1):hover{
    background: transparent;
    color: #5db9ee;
}

button:nth-child(2):hover{
    background: #5db9ee;
    color: #262525;
}

.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.circle:nth-child(1){
    background: linear-gradient( 90deg, transparent 50%, #262525 50%);
    width: 550px;
}

.circle:nth-child(2){
    width: 450px;
    background-image: url(./image/pic.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 16px solid white;
    box-shadow: 
    0 0 16px #fff,
    inset 0 0 16px #fff,
    0 0 32px #3877ff,
    inset 0 0 32px #3877ff,
    0 0 64px #3877ff,
    inset 0 0 64px #3877ff
    ;
}

@media only screen and (max-width: 770px) {
    .navlist{
        margin-left: 50px;
        display: flex;
        gap: 10px;       
    }   
}